{% extends 'index.html'%}

{% block body%}

{% if logado == False: %}
<div>
    <main>
        <div class="container-fluid">
            <h1 class="text-center mt-5 vollkorn-sc-semibold">Login</h1>
        </div>
    </main>
    <div class="d-flex" style="justify-content: center; border-radius: 5; border-color: black; border-width: 5;">
        <form id="loginForm" action="/" method="post" class="mt-3" style="width: 25rem;">
            <div class=" mb-4">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email"  name ="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">Senha:</label>
                <input type="password" class="form-control" id="password" name="senha">
            </div>
            <button type="submit" class="btn btn-dark">Enviar</button>
        </form>
    </div>
</div>

<style>
    .vollkorn-sc-semibold {
    font-family: "Vollkorn SC", serif;
    font-weight: 600;
    font-style: normal;
  }
  
    body{
  background-color: #ffe9f9;
  
}
</style>
{% else: %}

    {% include 'home.html'%}

{% endif %}
{% endblock%}