<nav class="navbar" style="background-color: #FFDCF5;">
    <div class="container-fluid">
      <a class="navbar-brand fs-2 vollkorn-sc-semibold ms-3">Lele's</a>
      <div class="me-3">
        <button class="btn btn-light"><span class="material-symbols-outlined">
            cookie
            </span></button>
        <button class="btn btn-light"><span class="material-symbols-outlined ">
                help
        </span></button>
        <button class="btn btn-light"><span class="material-symbols-outlined">
            hotel_class
            </span></button>
      </div>
    </div>
</nav>